.check-button, .add-item-button {
  width: fit-content;
  background: rgb(8, 139, 200);
  border: 2px solid rgb(26, 209, 233);
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  color: #fff;
}

textarea {
  border-radius: 5px;
  font-size: 15px ;
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
  line-height: 18px;
}

p {
  word-break: normal;
}
