.check-button, .add-item-button {
  width: fit-content;
  background: rgb(8, 139, 200);
  border: 2px solid rgb(26, 209, 233);
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  color: #fff;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(8, 139, 200);
}