@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

#pdf {
  
  width: 795px;
  
  background: rgb(250, 250, 198);
}

.editable:hover {
  background: rgba(0, 183, 255, 0.705);
  cursor: pointer;
  padding: 0px 0px 0px 5px;
  position: relative;
}


.sectionTitle {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
  color: var(--dark);
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(32, 38, 49, 0.2);
}

p {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
  opacity: 0.9;
}

main {
  display: flex;
}
.save-button,
.download-button {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 5px 20px;
  background: rgb(200, 8, 8);
  color: white;
  font-size: 20px;
  font-weight: 800;
  border-radius: 5px;
  margin-right: 20px;
  border: none;
}
.save-button {
  right: 220px;
  background: rgb(8, 139, 200);
}
.download-button:hover {
  background: rgb(218, 16, 16);

}