.sideInfo {
  padding: 23px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--medium);
  min-width: fit-content;
  width: 290px;
  color: var(--dark);
}

ul {
  margin-bottom: 55px;
  /* align-self: flex-start; */
}
ul li {
  list-style: none;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid rgba(32, 38, 49, 0.2);
  padding: 5px 0;
  width: 247px;
  display: flex;
  flex-wrap: wrap;
}


.fakeBlankSpace {
  display: inline-block;
  opacity: 0;
}

.listText { 
  margin-left: 0px;
  opacity: 0.8;
  word-break: break-all;
}

.link {
  position: relative;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid rgba(32, 38, 49, 0.2);
  padding: 5px 0;
  width: 247px;
  display: flex;
  flex-wrap: wrap;
}

.link .delete-item-button,
.link .edit-item-button  {
  position: absolute;
  right: 0;
  top: 10px;
  display: none;
}

.link .edit-item-button {
  right: 30px;
}

.links-list .add-item-button {
  margin: 0 auto;
  margin-top: 15px;
  display: none;
}

.links-list:hover .add-item-button,
.link:hover .delete-item-button,
.link:hover .edit-item-button {
  display: block;
}


.links-list  .link svg {
  position: relative;
  top: 0px;
  width: 30px;
  height: 30px;
  fill: var(--dark);
}
.links-list  .link a {
  position: relative;
  top: 7px;
  color: var(--dark);
  margin-left: 48px;
}


img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.image {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  background: url('../../img/profile.png') center top /cover;
}



.custom-file-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2px 5px;
  background: var(--blue) !important;
  border: 2px solid var(--blue-light);
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

img:hover  .custom-file-button,
.image:hover  .custom-file-button {
  display: block;
}

.image input {
  display: none !important;
  visibility: hidden;
  width: 0px;
  height: 0px;
  position: absolute;
  left: 1999px;
}


.add-link-icon {
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  margin: 15px;
}

.add-link-icon svg {
  fill: var(--dark);
  pointer-events: none;
}

.addLinkTable {
  position: relative;
  background: var(--light);
  width: 250px;
  border: 2px solid var(--blue);
  display: flex;
  flex-wrap: wrap;
  padding: 30px 10px;
  margin-top: 20px;
  border-radius: 15px;
}
.addLinkTable .delete-item-button {
  position: absolute;
  top: 5px;
  right: 5px;
}