.navbar {
  background: rgb(235, 239, 243);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
  font-size: 18px;
  color: rgb(12, 12, 12);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  position: relative;
  top: -2px;
}


.logo span {
  font-size: 44px;
  font-weight: 800;
  color: rgb(27, 202, 27);
}
.logo span:nth-child(1) {
  position: relative;
  right: -3px;
}

.nav-button {
  width: 120px;
  height: 40px;
  background: rgb(200, 8, 8);
  border: 2px solid rgb(219, 83, 83);
  color: white;
  font-size: 20px;
  border-radius: 5px;
  margin-right: 20px;
}

.nav-button:nth-child(2) {
  background: rgb(8, 139, 200);
  border: 2px solid rgb(26, 209, 233);
}

