.navbar {
  background: rgb(3, 29, 54);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
  font-size: 34px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-button {
  width: 120px;
  height: 40px;
  background: rgb(200, 8, 8);
  border: 2px solid rgb(219, 83, 83);
  color: white;
  font-size: 20px;
  border-radius: 5px;
  margin-right: 20px;
}

.nav-button:nth-child(2) {
  background: rgb(8, 139, 200);
  border: 2px solid rgb(26, 209, 233);
}