.sideBar {
  width: 20%;
  height: inherit;
  min-height: 100vh;
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgb(161, 159, 159);
  border: 2px solid gray;

}

.sideBar img {
  width: 180px;
  height: 260px;
  margin: 20px 0;
}

.active-template {
  border: 2px solid var(--blue-light);
/*   width: 180px;
  height: 260px;
  margin: 20px 0;
  background: url('../../img/template.png') center center /cover; */
}

.unavilable-template {
  opacity: 0.4;
}

.color {
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  margin: 5px;
  transition: 0.3s;
  user-select: none;
  outline: none;
}

.colors-pallete {
  border-radius: 15px;
  padding: 5px 20px;
  background: rgb(197, 197, 197);
}

.sideBar p {
  font-weight: 800;
  font-size: 18px;
}
.color:hover {
  transform: scale(1.1);

}

.color:nth-child(1) {
  background: rgb(32, 38, 49);
}

.color:nth-child(2) {
  background: rgb(11, 21, 53);
}

.color:nth-child(3) {
  background: rgb(34, 2, 71);
}

.color:nth-child(4) {
  background: rgb(0, 0, 0);
}

.color:nth-child(5) {
  background: rgb(53, 25, 25);
}

.color:nth-child(6) {
  background: rgb(66, 126, 10);
}
