* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: rgb(231, 231, 231);
  --medium: rgb(212, 206, 206);
  --dark: rgb(32, 38, 49);
  --blue: rgb(8, 139, 200);
  --blue-light: rgb(83, 169, 219);
  --red: rgb(200, 8, 8);
  --red-light: rgb(219, 83, 83);
}

.delete-item-button {
  width: 25px;
  height: 25px;
  padding: 0;
  background: var(--red);
  border: 2px solid var(--red-light);
  color: white;
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#file-upload-button,
.edit-item-button {
  padding: 0px 10px;
  background: var(--blue) !important;
  border: 2px solid var(--blue-light);
  color: white;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}